{{ define "main" }}
  <div class="signup-row">
    {{ partial "convertkit-form.html" (dict
      "header" "Get Practical Embedded Tips"
      "subheader" "I share short and practical tips about embedded systems. One useful idea at a time, in an easy-to-read email. Plus a heads-up when a new video is out."
      "ctx" .
    ) }}
  </div>

  <div class="recent-videos">
    <h2>Recent Videos</h2>
    <div class="video-grid">
      <iframe src="https://www.youtube.com/embed/9FTUa-2eIDU" title="Video 1" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/MhOba73z-dQ" title="Video 2" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-scroll-container">
    <h2>Embedded Project Series</h2>
    {{ partial "video-slider.html" . }}
  </div>

    <div class="about">
      <div>
      <h2>About Me</h2>
      <p>
        I make content about embedded systems, mostly on YouTube, sometimes in writing.
      </p>
    
      <p>
        I studied computer engineering and now work as an embedded systems engineer, doing both software
        and hardware. I’ve contributed to products like 
        <a href="https://www.hasselblad.com/x-system/x2d-100c/" target="_blank">Hasselblad cameras</a> and the 
        <a href="https://www.ptisecurity.com/us/en/products/unit-security/proedge-smart-latch" target="_blank">ProEdge smart lock</a>. 
        These days, I'm building connected devices with a small, experienced team at <a href="https://www.eub.se/en/" target="_blank">EUB</a>
         (check them out if you're looking to bring a product to life).
      </p>
    
      <p>
        With Artful Bytes, I want to make embedded systems more approachable and help you go from basic tinkering to building real devices.
      </p>
      </div>
      <div>
          <img src="/images/niklas.png" alt="Portrait">
      </div>
    </div>


  <div class="contact">
    <h2>Contact</h2>
    <p>Contact me below or send an email to
    niklas@artfulbytes.com.</p>


    <div class="contact-form">
        {{ partial "contact-form.html" . }}
    </div>

  </div>
{{ end }}
